<div class="container">
  <h1>All Patterns</h1>
  <% if @patterns.any? %>
    <% @patterns.each do |pattern| %>
      <p><%= pattern.title %></p>
    <% end %>
  <% else %>
    <p>No patterns found.</p>
  <% end %>
</div>
