name: Deploy to AWS EC2

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Environment Variables
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          echo "$SSH_PRIVATE_KEY" > myKey.pem
          chmod 600 myKey.pem

      - name: Deploy to EC2
        run: |
          ELASTIC_IP=44.206.128.223

          ssh -o StrictHostKeyChecking=no -i myKey.pem ubuntu@${ELASTIC_IP} << 'EOF'
            set -e

            # Pull fresh repo
            sudo rm -rf My-Patterns
            git clone https://github.com/Niamh13/My-Patterns.git
            cd My-Patterns

            # Ensure Ruby from mise is available
            export PATH="/home/ubuntu/.local/share/mise/installs/ruby/3.4.7/bin:\$PATH"

            # Install dependencies
            bundle install
            bundle binstubs bundler-audit brakeman rubocop --force

            # Security & linting tools
            bundle exec bundle audit --update
            bundle exec brakeman --no-pager
            bundle exec rubocop --autocorrect-all --disable-uncorrectable

            # Database migrations
            rails db:migrate

            # Ensure the script is executable
            chmod +x startServer.sh

            # Start Rails server
            ./startServer.sh
          EOF

      - name: Clean up
        run: |
          rm -f myKey.pem
